<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oris
    {% block title %}{% endblock %}
    </title>
    {% include '_css.html'%}
</head>
<body>
{% include 'top_nav.html'%}
{% block message_content %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error'%}danger{%else%}{{ message.tags}}{%endif%}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{% if message.tags == 'danger' %}Error{% else %}{{ message.tags|title }}{% endif %}</strong> {{ message }}
    </div>
    {% endfor %}
    {% if messages %}
    <script>
        setTimeout(function () {
            $('.alert').fadeOut(300);
        }, 45);
    </script>
    {% endif %}
{% endblock %}
<div class="container">
{% block content %}{% endblock %}
</div>
{% include '_js.html'%}
</body>
</html>