Hello {{ user.get_full_name }}

Thank you for signing up to Oris! A platform where you will be able to build a stunning portfolio with variety of templates which you can choose from for your desired job.
We welcome you and we're excited to have you on board and will be happy to help you set everything up.

For you to get started:
Complete your profile by clicking on {{ link }} to generate your portfolio.
You can also check your Dashboard to download your portfolio for recruiters to see.
Explore all the features on our website.
Please let us know if you have any questions, feature requests, or any generic feedback simply by replying to this email.

Best regards,
Oris team